# Pandas Time Series: Exercises, Practice, Solution

## 1.Write a Pandas program to create
    a) Datetime object for Jan 15 2012.
    b) Specific date and time of 9:20 pm.
    c) Local date and time.
    d) A date without time.
    e) Current date.
    f) Time from a datetime.
    g) Current local time.

In [8]:
import datetime
from datetime import datetime
print("\nDatetime object for Jan 15 2012:")
print(datetime(2012,1,15))
print("\nSpecific date and time of 9:20 pm:")
print(datetime(2011,1,11,21,20))
print("\nLocal date and time:")
print(datetime.now())
print("\nDate without time:")
print(datetime.date(datetime(2012,5,22)))
print("\nCurrent Date:")
print(datetime.now().date())
print("\nTime from a datetime:")
print(datetime.time(datetime(2012,12,15,18,12)))
print("\nCurrent local time:")
print(datetime.now().time())

Datetime object for Jan 15 2012:
2012-01-15 00:00:00

Specific date and time of 9:20 pm:
2011-01-11 21:20:00

Local date and time:
2021-11-10 14:45:05.872290

Date without time:
2012-05-22

Current Date:
2021-11-10

Time from a datetime:
18:12:00

Current local time:
14:45:05.873291

## 2. Write a Pandas program to create 
    a) a specific date using timestamp.
    b) date and time using timestamp.
    c) a time adds in the current local date using timestamp.
    d) current date and time using timestamp.

In [14]:
import pandas as pd
print("\nA Specific date using timestamp:")
print(pd.Timestamp('2016-11-10'))
print("\nDate and Time using timestamp:")
print(pd.Timestamp('2012-05-03 15:30'))
print("\nA time adds in the current local date using timestamp:")
print(pd.Timestamp('10-11-2021'))
print("\nCurrent Date and Time using timestamp:")
print(pd.Timestamp('now'))

A Specific date using timestamp:
2016-11-10 00:00:00

Date and Time using timestamp:
2012-05-03 15:30:00

A time adds in the current local date using timestamp:
2021-10-11 00:00:00

Current Date and Time using timestamp:
2021-11-10 14:59:41.524986

## 3. Write a Pandas program to create a date from a given year, month, day and another date from a given string formats.

In [16]:
date1 = datetime(year=2021,month=11,day=9)
print("Date from a given year,month,day:")
print(date1)
from dateutil import parser
date2 = parser.parse("1st of January,2021")
print(date2)

Date from a given year,month,day:
2021-11-09 00:00:00
2021-01-01 00:00:00

## 4. Write a Pandas program to print the day after and before a specified date. Also print the days between two given dates.

In [17]:
today = datetime(2012,10,30)
print("Current date:",today)
tomarrow = today + pd.Timedelta(days=1)
print("Tomarrow:",tomarrow)
yesterday = today - pd.Timedelta(days=1)
print("Yesterday:",yesterday)
date1 = datetime(2016,8,2)
date2 = datetime(2016,7,19)
print("\n Difference Between two dates:",(date1-date2))

Current date: 2012-10-30 00:00:00
Tomarrow: 2012-10-31 00:00:00
Yesterday: 2012-10-29 00:00:00

 Difference Between two dates: 14 days, 0:00:00

## 5. Write a Pandas program to create a time-series with two index labels and random values. Also print the type of the index.

In [19]:
import numpy as np
dates = [datetime(2011,9,1), datetime(2011,9,2)]
print("Time-series with two index labels:")
time_series = pd.Series(np.random.randn(2),dates)
print(time_series)
print("\nType of the index:")
print(type(time_series.index))

Time-series with two index labels:
2011-09-01   -2.309623
2011-09-02    1.200170
dtype: float64

Type of the index:
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

## 6. Write a Pandas program to create a time-series from a given list of dates as strings.

In [20]:
date = ['2014-08-01','2014-08-02','2014-08-03','2014-08-04']
time_series = pd.Series(np.random.randn(4),date)
time_series

2014-08-01   -1.032461
2014-08-02   -0.252276
2014-08-03    1.141663
2014-08-04   -0.229201
dtype: float64

## 7.Write a Pandas program to create a time series object that has time indexed data. Also select the dates of same year and select the dates between certain dates.

In [23]:
index = pd.DatetimeIndex(['2011-09-02','2012-08-04',
                         '2015-09-03','2010-08-04',
                         '2015-03-03','2011-08-04',
                         '2015-04-03','2012-08-04'])
s_dates = pd.Series([0,1,2,3,4,5,6,7],index=index)
print("Time series object with indexed data:")
print(s_dates)
print("\nDates of same year:")
print(s_dates['2015'])
print("\nDates between 2012-01-01 and 2012-12-31")
print(s_dates['2012-01-01':'2012-12-31'])

Time series object with indexed data:
2011-09-02    0
2012-08-04    1
2015-09-03    2
2010-08-04    3
2015-03-03    4
2011-08-04    5
2015-04-03    6
2012-08-04    7
dtype: int64

Dates of same year:
2015-09-03    2
2015-03-03    4
2015-04-03    6
dtype: int64

Dates between 2012-01-01 and 2012-12-31
2012-08-04    1
2012-08-04    7
dtype: int64

C:\Users\CAD_23\AppData\Local\Temp/ipykernel_9088/2417162046.py:11: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  print(s_dates['2012-01-01':'2012-12-31'])

## 8. Write a Pandas program to create a date range using a startpoint date and a number of periods.

In [25]:
date_range = pd.date_range('2021-01-01',periods=60)
print("\nDate Range of periods 45:")
print(date_range)

Date Range of periods 45:
DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14', '2021-01-15', '2021-01-16',
               '2021-01-17', '2021-01-18', '2021-01-19', '2021-01-20',
               '2021-01-21', '2021-01-22', '2021-01-23', '2021-01-24',
               '2021-01-25', '2021-01-26', '2021-01-27', '2021-01-28',
               '2021-01-29', '2021-01-30', '2021-01-31', '2021-02-01',
               '2021-02-02', '2021-02-03', '2021-02-04', '2021-02-05',
               '2021-02-06', '2021-02-07', '2021-02-08', '2021-02-09',
               '2021-02-10', '2021-02-11', '2021-02-12', '2021-02-13',
               '2021-02-14', '2021-02-15', '2021-02-16', '2021-02-17',
               '2021-02-18', '2021-02-19', '2021-02-20', '2021-02-21',
               '2021-02-22', '2021-02-23', '2021-02-24', '2021-02-25',
               '2021-02-26', '2021-02-27', '2021-02-28', '2021-03-01'],
              dtype='datetime64[ns]', freq='D')

## 9. Write a Pandas program to create a whole month of dates in daily frequencies. Also find the maximum, minimum timestamp and indexs.

In [27]:
dates = pd.Series(pd.date_range('2021-01-01',periods=31,freq='D'))

In [29]:
print(dates)
print("\nMaximum Date: ",dates.max())
print("\nMinimum Date: ",dates.min())
print("\nMaximum Index: ",dates.idxmax())
print("\nMinimum Index: ",dates.idxmin())

0    2021-01-01
1    2021-01-02
2    2021-01-03
3    2021-01-04
4    2021-01-05
5    2021-01-06
6    2021-01-07
7    2021-01-08
8    2021-01-09
9    2021-01-10
10   2021-01-11
11   2021-01-12
12   2021-01-13
13   2021-01-14
14   2021-01-15
15   2021-01-16
16   2021-01-17
17   2021-01-18
18   2021-01-19
19   2021-01-20
20   2021-01-21
21   2021-01-22
22   2021-01-23
23   2021-01-24
24   2021-01-25
25   2021-01-26
26   2021-01-27
27   2021-01-28
28   2021-01-29
29   2021-01-30
30   2021-01-31
dtype: datetime64[ns]

Maximum Date:  2021-01-31 00:00:00

Minimum Date:  2021-01-01 00:00:00

Maximum Index:  30

Minimum Index:  0

## 10. Write a Pandas program to create a time series using three months frequency.

In [38]:
dates = pd.date_range('2021-01-01',periods=93,freq='3M')

In [39]:
print("\nTime series using three months frequecy: ")

Time series using three months frequecy:

In [40]:
print(dates)

DatetimeIndex(['2021-01-31', '2021-04-30', '2021-07-31', '2021-10-31',
               '2022-01-31', '2022-04-30', '2022-07-31', '2022-10-31',
               '2023-01-31', '2023-04-30', '2023-07-31', '2023-10-31',
               '2024-01-31', '2024-04-30', '2024-07-31', '2024-10-31',
               '2025-01-31', '2025-04-30', '2025-07-31', '2025-10-31',
               '2026-01-31', '2026-04-30', '2026-07-31', '2026-10-31',
               '2027-01-31', '2027-04-30', '2027-07-31', '2027-10-31',
               '2028-01-31', '2028-04-30', '2028-07-31', '2028-10-31',
               '2029-01-31', '2029-04-30', '2029-07-31', '2029-10-31',
               '2030-01-31', '2030-04-30', '2030-07-31', '2030-10-31',
               '2031-01-31', '2031-04-30', '2031-07-31', '2031-10-31',
               '2032-01-31', '2032-04-30', '2032-07-31', '2032-10-31',
               '2033-01-31', '2033-04-30', '2033-07-31', '2033-10-31',
               '2034-01-31', '2034-04-30', '2034-07-31', '2034-10-31',
               '2035-01-31', '2035-04-30', '2035-07-31', '2035-10-31',
               '2036-01-31', '2036-04-30', '2036-07-31', '2036-10-31',
               '2037-01-31', '2037-04-30', '2037-07-31', '2037-10-31',
               '2038-01-31', '2038-04-30', '2038-07-31', '2038-10-31',
               '2039-01-31', '2039-04-30', '2039-07-31', '2039-10-31',
               '2040-01-31', '2040-04-30', '2040-07-31', '2040-10-31',
               '2041-01-31', '2041-04-30', '2041-07-31', '2041-10-31',
               '2042-01-31', '2042-04-30', '2042-07-31', '2042-10-31',
               '2043-01-31', '2043-04-30', '2043-07-31', '2043-10-31',
               '2044-01-31'],
              dtype='datetime64[ns]', freq='3M')

## 11. Write a Pandas program to create a sequence of durations increasing by an hour.

In [41]:
date_range = pd.timedelta_range(0,periods=49,freq='H')
print("Hourly Range of periods:\n")
print(date_range)

Hourly Range of periods:

TimedeltaIndex(['0 days 00:00:00', '0 days 01:00:00', '0 days 02:00:00',
                '0 days 03:00:00', '0 days 04:00:00', '0 days 05:00:00',
                '0 days 06:00:00', '0 days 07:00:00', '0 days 08:00:00',
                '0 days 09:00:00', '0 days 10:00:00', '0 days 11:00:00',
                '0 days 12:00:00', '0 days 13:00:00', '0 days 14:00:00',
                '0 days 15:00:00', '0 days 16:00:00', '0 days 17:00:00',
                '0 days 18:00:00', '0 days 19:00:00', '0 days 20:00:00',
                '0 days 21:00:00', '0 days 22:00:00', '0 days 23:00:00',
                '1 days 00:00:00', '1 days 01:00:00', '1 days 02:00:00',
                '1 days 03:00:00', '1 days 04:00:00', '1 days 05:00:00',
                '1 days 06:00:00', '1 days 07:00:00', '1 days 08:00:00',
                '1 days 09:00:00', '1 days 10:00:00', '1 days 11:00:00',
                '1 days 12:00:00', '1 days 13:00:00', '1 days 14:00:00',
                '1 days 15:00:00', '1 days 16:00:00', '1 days 17:00:00',
                '1 days 18:00:00', '1 days 19:00:00', '1 days 20:00:00',
                '1 days 21:00:00', '1 days 22:00:00', '1 days 23:00:00',
                '2 days 00:00:00'],
               dtype='timedelta64[ns]', freq='H')

## 12. Write a Pandas program to convert year and day of year into a single datetime column of a dataframe.

In [44]:
data = {'year':[2002,2003,2015,2018],
       'day_of_the_year':[250,365,1,140]}
print(data)
df = pd.DataFrame(data)
print("Original dataframe:")
print(df)
df['combined'] = df['year']*1000 + df['day_of_the_year']
df['date'] = pd.to_datetime(df['combined'],format = "%Y%j")
print("\nNew Dataframe:")
print(df)

{'year': [2002, 2003, 2015, 2018], 'day_of_the_year': [250, 365, 1, 140]}
Original dataframe:
   year  day_of_the_year
0  2002              250
1  2003              365
2  2015                1
3  2018              140

New Dataframe:
   year  day_of_the_year  combined       date
0  2002              250   2002250 2002-09-07
1  2003              365   2003365 2003-12-31
2  2015                1   2015001 2015-01-01
3  2018              140   2018140 2018-05-20

## 13. Write a Pandas program to create a series of Timestamps from a DataFrame of integer or string columns. Also create a series of Timestamps using specified columns.

In [46]:
df = pd.DataFrame({'year':[2018,2019,2020],
                  'month':[2,3,4],
                  'day':[4,5,6],
                  'hour':[2,3,4]})
print("\nOriginal Dataframe:")
df

Original Dataframe:

   year  month  day  hour
0  2018      2    4     2
1  2019      3    5     3
2  2020      4    6     4

In [47]:
result = pd.to_datetime(df)
print("\nSeries of Timestamps from the said dataframe:")
result

Series of Timestamps from the said dataframe:

0   2018-02-04 02:00:00
1   2019-03-05 03:00:00
2   2020-04-06 04:00:00
dtype: datetime64[ns]

In [48]:
result1 = pd.to_datetime(df[['year','month','day']])
print("\nSeries of Timestamps using specified columns:")
result1

Series of Timestamps using specified columns:

0   2018-02-04
1   2019-03-05
2   2020-04-06
dtype: datetime64[ns]

## 14. Write a Pandas program to check if a day is a business day (weekday) or not.

In [49]:
def is_business_day(date):
    return bool(len(pd.bdate_range(date,date)))
print("Check business day or not?")
print("2021-11-01: ",is_business_day('2021-11-01'))
print("2021-11-08: ",is_business_day('2021-11-08'))
print("2021-11-15: ",is_business_day('2021-11-15'))

Check business day or not?
2021-11-01:  True
2021-11-08:  True
2021-11-15:  True

## 15. Write a Pandas program to get a time series with the last working days of each month of a specific year.

In [52]:
s = pd.date_range('2021-01-01',periods=12,freq='BM')
df = pd.DataFrame(s,columns=['Date'])
df

         Date
0  2021-01-29
1  2021-02-26
2  2021-03-31
3  2021-04-30
4  2021-05-31
5  2021-06-30
6  2021-07-30
7  2021-08-31
8  2021-09-30
9  2021-10-29
10 2021-11-30
11 2021-12-31

## 16. Write a Pandas program to create a time series combining hour and minute.

In [53]:
result = pd.timedelta_range(0,periods=30,freq='1H20T')

In [54]:
result

TimedeltaIndex(['0 days 00:00:00', '0 days 01:20:00', '0 days 02:40:00',
                '0 days 04:00:00', '0 days 05:20:00', '0 days 06:40:00',
                '0 days 08:00:00', '0 days 09:20:00', '0 days 10:40:00',
                '0 days 12:00:00', '0 days 13:20:00', '0 days 14:40:00',
                '0 days 16:00:00', '0 days 17:20:00', '0 days 18:40:00',
                '0 days 20:00:00', '0 days 21:20:00', '0 days 22:40:00',
                '1 days 00:00:00', '1 days 01:20:00', '1 days 02:40:00',
                '1 days 04:00:00', '1 days 05:20:00', '1 days 06:40:00',
                '1 days 08:00:00', '1 days 09:20:00', '1 days 10:40:00',
                '1 days 12:00:00', '1 days 13:20:00', '1 days 14:40:00'],
               dtype='timedelta64[ns]', freq='80T')

## 17. Write a Pandas program to calculate all Thursdays between two given days.

In [57]:
thursday = pd.date_range('2021-01-01','2021-12-31',freq="W-THU")
print("\nAll Thursday between 2021-01-01 to 2021-12-31")
thursday

All Thursday between 2021-01-01 to 2021-12-31

DatetimeIndex(['2021-01-07', '2021-01-14', '2021-01-21', '2021-01-28',
               '2021-02-04', '2021-02-11', '2021-02-18', '2021-02-25',
               '2021-03-04', '2021-03-11', '2021-03-18', '2021-03-25',
               '2021-04-01', '2021-04-08', '2021-04-15', '2021-04-22',
               '2021-04-29', '2021-05-06', '2021-05-13', '2021-05-20',
               '2021-05-27', '2021-06-03', '2021-06-10', '2021-06-17',
               '2021-06-24', '2021-07-01', '2021-07-08', '2021-07-15',
               '2021-07-22', '2021-07-29', '2021-08-05', '2021-08-12',
               '2021-08-19', '2021-08-26', '2021-09-02', '2021-09-09',
               '2021-09-16', '2021-09-23', '2021-09-30', '2021-10-07',
               '2021-10-14', '2021-10-21', '2021-10-28', '2021-11-04',
               '2021-11-11', '2021-11-18', '2021-11-25', '2021-12-02',
               '2021-12-09', '2021-12-16', '2021-12-23', '2021-12-30'],
              dtype='datetime64[ns]', freq='W-THU')

## 18. Write a Pandas program to find the all the business quarterly begin and end dates of a specified year.

In [62]:
q_start_dates = pd.date_range('2021-01-01','2021-12-31',freq='BQS-JUN')
q_end_dates = pd.date_range('2021-01-01','2021-12-31',freq='BQ-JUN')
print("All the business quarterly begin dates of 2020:")
print(q_start_dates.values)
print("All the business quarterly ends dates of 2020:")
print(q_end_dates.values)

All the business quarterly begin dates of 2020:
['2021-03-01T00:00:00.000000000' '2021-06-01T00:00:00.000000000'
 '2021-09-01T00:00:00.000000000' '2021-12-01T00:00:00.000000000']
All the business quarterly ends dates of 2020:
['2021-03-31T00:00:00.000000000' '2021-06-30T00:00:00.000000000'
 '2021-09-30T00:00:00.000000000' '2021-12-31T00:00:00.000000000']